/* Navigation */
.navbar{
    background-color:#0a2b6a !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow' , Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.navbar a {
    color: #fff !important;
    opacity: 0.7;
}
.navbar a:hover{
    opacity: 1;
    background-color: #111111 !important;
}
/* HEADER */
.header{
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 0;
    background-image: url(img/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.header img{
    height: 350px;
    width: 450px;
margin-left: 119PX;
margin-top: 70px;
}
.header h1{
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}
.header h1,
.header p,
.header button{
    margin-top: 20px;
}
.header  .btn{
    border-radius: 0;
    margin: 40px 20px;
}

@media(max-width:768px){
    .header{
         padding: 0; 
        height:750px;
    }
    .header img{
        width: 95%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    /* .header .btn{
        font-size: 10px;
        margin-left: 20px;
    } */
    /* .header h1{
        font-size: 20px;
    }
    .header p{
        font-size: 10px;
    } */
}
/* services */
.services{
    padding: 80px 0 80px;
    text-align: center;
}
.services h2,
.services  h4{
 color: #4c4c4c;
 margin: 20px 0 20px;
}

.services p{
    color: #737373;
    font-sizes:14px;
    padding-bottom: 40px; 
}

.services i{
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}
@media(max-width:768px){
    .services {
       padding: 30px;
    }
}
/* pricing */
.pricing{
    padding: 80px 0 80px;
    text-align: center;
    background-color: #3399ff;
}
.pricing h2,
.pricing p{
    color: #fff;
}
.pricing p{
    padding-bottom: 40px;
}
.pricing .packages{
    padding:30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}
.packages li{
    display: block;
    padding: 5px;
}
.packages h4,
.packages h1,
.packages b{
     color: #4c4c4c;
}
.packages p,
.packages li{
    color: #737373;
}
.packages button{
    margin-top: 10px;
}

/* .img-responsive{
    margin-left: 300px;
    margin-top: 70px;
} */

